@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: Inter;
    background-color: hsl(0, 0%, 8%);
}

.main-div {
    border: 1px solid hsl(0, 0%, 12%);
    height: 500px;
    width: 300px;
    background-color: hsl(0, 0%, 12%);
    margin: 0;
    margin-left: 0px;
    margin-top: 0px;
}

#person {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin-left: 100px;
    margin-top: 30px;
}

#name {
    color: hsl(0, 0%, 100%);
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    font-size: 27px;
    font-weight: 700;
}

#address {
    color: hsl(75, 94%, 57%);
    text-align: center;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

#role {
    color: rgb(199, 198, 198);
    text-align: center;
}

button {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    padding: 5px;
    height: 30px;
    width: 220px;
    border: none;
    border-radius: 6%;
    margin-top: 10px;
    margin-left: 37px;
}

button:hover {
    background-color: hsl(75, 94%, 57%);
}

@media screen and (min-width: 320px) {
    .main-div {
        margin: 0;
        margin-top: 65px;
    }
}

@media screen and (min-width: 375px) {
    .main-div {
        margin: 0;
        margin-left: 30px;
        margin-top: 65px;
    }
}

@media screen and (min-width: 425px) {
    .main-div {
        margin: 0;
        margin-left: 55px;
        margin-top: 70px;
    }
}

@media screen and (min-width: 768px) {
    .main-div {
        margin: 0;
        margin-left: 225px;
        margin-top: 65px;
    }
}

@media screen and (min-width: 1024px) {
    .main-div {
        margin: 0;
        margin-left: 350px;
        margin-top: 170px;
    }
}

@media screen and (min-width: 1024px) {
    .main-div {
        margin: 0;
        margin-left: 600px;
        margin-top: 110px;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}